body{
	background-color: #fefbe5;
}


/*esto es para ubicar los div graficamente, despues lo borro*/


.sans{
	font-family: 'Open Sans Condensed', sans-serif;
}

}

.colorRojo{
	background-color: red;
}

.float-none { 
	float: none;
}

.espacio-arriba{
	margin-top:10%;
}

.lista-en-linea{
	display:inline-block;
	padding: 0px;
	margin: 0px;
}

.sacar-puntos li{
	list-style-type: none;
}

.display-en-linea{
	display: inline-block;
}

.grande {
	font-size: 2em;
	padding: 5px;
}

.muy-grande{
	font-size: 4em;
	padding: 10px;
}
.separar li{
	padding-left: 10px;
	padding-right: 10px;
}