.sans{
	font-family: 'Open Sans Condensed', sans-serif;
}

.cremita-fondo{
	background-color: #ffffe6;
}

.float-none { 
	float: none;
}

.espacio-arriba{
	margin-top:10%;
}

.lista-en-linea{
	display:inline-block;
	padding: 0px;
	margin: 0px;
}

.color-bordo-claro{
	color: #ff3333;
}

.sacar-puntos li{
	list-style-type: none;
}

.display-en-linea{
	display: inline-block;
}

.grande {
	font-size: 2em;
	padding: 5px;
}

.muy-grande{
	font-size: 4em;
	padding: 10px;
}
.separar li{
	padding-left: 10px;
	padding-right: 10px;
}

.rojo-fondo{
	background-color: #ff0000;
}

.dosis-font{
	font-family: 'Dosis', sans-serif;
}

.indie-font{
	font-family: 'Indie Flower', cursive;
}

.margen-abajo{
	margin-bottom: 10px;
}

.color-sangucheto{
	color: #e63900;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:#fcd900;
    }
}